<div id="{{address}}-card" class="card text-white bg-primary mx-1">
    <div class="card-header">
     <h5 class="card-title"><span class="field-name">{{name}}</span>
        <input class="float-right field-selected" type="checkbox" aria-label="Checkbox for selecting field">
     </h5>
      
    </div>
    <img class="card-img-top" src="{{image}}" alt="{{image_alt}}">
    <div class="card-body">
       
        <p class="card-text">{{field_details}}</p>
        <p class="card-text"><small class="text-white fieldaddress">{{address}}</small></p>
        
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="text-white btn btn-secondary btn-block changeFieldName" data-address="{{address}}" type="button">Change Name</button>
                </div>
                <input type="text" id="{{address}}-nameInput" class="form-control" placeholder="New name " aria-label="Name" aria-describedby="nameLabel">
            </div>
    </div>
    <button class="text-white btn btn-secondary btn-block" onclick="App.openField('{{address}}')" data-address="{{address}}" type="button">Open</button>
</div>