<div id="{{address}}-card" class="card {{#harvestable}}border-success {{/harvestable}}{{^harvestable}} border-danger {{/harvestable}}mx-1">
    <div class="card-body">
         <h5 class="card-title"><span class="field-name">{{name}}</span> - 
            <small>{{#harvestable}}harvestable{{/harvestable}}{{^harvestable}}not harvestable{{/harvestable}}</small>
       
        <h6 class="card-subtitle mb-2 text-muted"><small>Address: {{address}}</small></h6>
<button class="text-white btn btn-secondary btn-block" onclick="App.changeFieldStatus('{{address}}')" data-address="{{address}}"
    type="button">Change Status</button>
        <p class="card-text">
            
            <div class="form-group">
<label for="transactionList"> Transactions:
<span id="txCount">{{totalTransactions}}</span>
                </label>
                <select class="form-control" id="transactionList">
                    {{#transactions}}
                        <option value="{{address}}">{{sender}}-{{data}}</option>
                    {{/transactions}}
                </select>
            </div>
        </p>
        
        <button onclick="App.addFieldTransaction('{{address}}')" class="btn btn-link btn-sm card-link">Add Transaction</button>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
