<div id="{{address}}-card" class="card text-white {{#harvestable}}bg-success {{/harvestable}}{{^harvestable}} bg-danger {{/harvestable}}mx-1 my-2">
    <div class="card-header">
        <h5 class="card-title text-white">
            <span class="field-name float-left">{{name}}</span>
        </h5>
        <span class="ml-1 float-right badge badge-light">&nbsp;{{#harvestable}}harvestable{{/harvestable}}{{^harvestable}}not harvestable{{/harvestable}}</span>
        <h6 class="card-subtitle mb-2 text-white">
            <small>Address: {{address}}</small>
            <br>
            <small>Grape type: {{grapeType}}</small>
        </h6>
    </div>
    <img class="card-img-top" src="{{image}}" alt="{{image_alt}}">
    <div class="btn-group">
        <button class="btn btn-block btn-outline-light mt-0" type="button" data-toggle="collapse" data-target="#{{address}}-collapse"
            aria-expanded="false" aria-controls="{{address}}-collapse">
            Details
        </button>
        <button class="btn btn-block btn-outline-light mt-0" type="button" onclick="App.openField('{{address}}')" data-address="{{address}}"
            type="button">Open</button>
    </div>
    </p>
    <div class="collapse" id="{{address}}-collapse">

        <ul class="list-group list-group-flush ">
            <li class="list-group-item">
                <strong>Latitude:</strong> {{latitude}}
            </li>
            <li class="list-group-item">
                <strong>Longitude:</strong> {{longitude}}
            </li>
<li class="list-group-item">
    <strong>Creator:</strong> {{creator}}</li>
            <li class="list-group-item">
                <strong>Owner:</strong> {{#owners}} {{address}} {{/owners}}</li>
            <li class="list-group-item">
                <strong>Total TX:</strong> {{totalTransactions}}</li>
            <li class="list-group-item">
                <strong>TX since last Harvest:</strong> {{transactionCountHarvest}}</li>
        </ul>

    </div>

    <div class="card-footer">
        <!-- <p>
            <small>Stage: {{stage}}</small>
        </p> -->
        <p>
            <small>Address: {{address}}</small>
        </p>

    </div>
</div>