@import "./bootstrap/colors";
@mixin transition($seconds) {
    -webkit-transition: all $seconds linear;
    -moz-transition: all $seconds linear;
    transition: all $seconds linear;
}

section{
    margin:5px !important;
    position: relative;
    h2{
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
}

.custom-control-label::before,
.custom-control-label::after {
    background-color:black;
    top: -1rem;
    width: 1.25rem;
    height: 1.25rem;
}

.loader{
    background-image: url("../assets/loading.svg");
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#cultivationSection{
    width: 100%;
    position: relative;
}

.card-body{
    button{
        &.close{
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 40px;
        }
    }
}

.card-subtitle{
    clear: both;
}
.list-group-item{
    background-color: transparent;
}

.field-details{
    flex:100% !important;
}

$cards-per-line: ( xs: 1, sm: 1, md: 1, lg: 2, xl: 2);
@each $name,
$breakpoint in $grid-breakpoints {
    @media (min-width: $breakpoint) {
        .card-deck .card {
            flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
        }
    }
}