<div id="{{address}}-card" class="card mx-1">
    <div class="card-header">
        <h5 class="card-title ">
            <span class="transport-id float-left">ID: {{ID}}</span>
        </h5>
        
        <h6 class="card-subtitle mb-2 text-muted">
            <small>Address: {{address}}</small>
        </h6>
    </div>
    <img class="card-img-top" src="{{image}}" alt="{{image_alt}}">
    
         <div class="btn-group" >
        <button class="btn btn-block btn-outline-dark mt-0" type="button" data-toggle="collapse" data-target="#{{address}}-collapse"
            aria-expanded="false" aria-controls="{{address}}-collapse">
            Details
        </button>
        <button class="btn btn-block btn-outline-dark mt-0" type="button" onclick="App.openTransport('{{address}}')" data-address="{{address}}"
            type="button">Open</button>
    </div>
        </p>
        <div class="collapse" id="{{address}}-collapse">
            <div class="card-body">
                <p class="card-text">

                   
                    <strong>Longitude:</strong> {{longitude}}</p>
                <p class="card-text"></p>
                <p class="card-text">
                    <strong>Owner:</strong> {{#owners}} {{address}} {{/owners}}</p>
                <p class="card-text">
                    <strong>Total TX:</strong> {{totalTransactions}}</p>
                <p class="card-text">
                    <strong>TX since last Harvest:</strong> {{transactionCountHarvest}}</p>

        </div>

    </div>
<div class="card-footer">
        <small>Address: {{address}}</small>
</div>
   
</div>